﻿@using Bondora.Shared.Dtos

@model EquipmentDto

@using (Ajax.BeginForm("Index", new AjaxOptions {UpdateTargetId = "equipment." + @Model.EquipmentId.ToString()}))
{
	<span id='equipment.\@Model.EquipmentId'></span>
	<table>
		<tr>
			<td width="200">
				@Html.Hidden("EquipmentId", Model.EquipmentId)
				@Html.HiddenFor(m => m.Name)
				@Html.DisplayFor(m => m.Name)
			</td>
			<td>
				<span class="days">
					@Html.TextBoxFor(m => m.DaysRent, new { type = "number", min = "1", style = "width: 50px"})
					days
				</span>
			</td>
			<td>
				<input type="submit" value="Add"/>
			</td>
		</tr>
	</table>
}


