﻿<script src="@Url.Content("~/Scripts/jquery-2.2.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-3.4.0.js")" type="text/javascript"></script> 
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
@{
	ViewBag.Title = "Available equipments";
}

<h3>Available equipments</h3>
<table>
	<tr>
		<th style="width: 200px">
			Name
		</th>
		<th style="width: 100px;">
			Days to rent
		</th>
	</tr>
	<tbody data-bind="foreach: Equipments">
	<tr>
		<td data-bind="text: Name"></td>
		<td style="padding-left: 5px;"><input style="width: 50px;" data-bind="value: DaysRent"/></td>
		<td><button data-bind="click: $parent.addItem">Add</button></td>
	</tr>
	</tbody>
</table>

<h3>Equipments in cart</h3>
<table>
	<tr>
		<th style="width: 200px">
			Name
		</th>
		<th style="width: 100px;">
			Days to rent
		</th>
	</tr>
	<tbody data-bind="foreach: CartItems">
		<tr>
			<td data-bind="text: Name"></td>
			<td style="padding-left: 5px;" data-bind="text: DaysRent" ></td>
		</tr>
	</tbody>
</table>

@Html.ActionLink("Download invoice", "GetInvoice")

<script src="~/Scripts/ViewModels/CartViewModel.js"></script>
